@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

a.libLink{
  color: #ffffff;
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}


.highlight {
  background-color: #f8f9fa;
  display: block;
}

.highlight pre {
  margin: 0;
}

.card {
  margin-top: 4rem;
}

div.card-body > p{
  font-size: 1rem;
}

.footer > p{
  font-size: 1rem;
}
